.series-mario{
    background:rgb(255,0,0);
}

.series-pokemon{
    background:rgb(206, 8, 8);
}

.series-fireemblem{
    background:rgb(21, 49, 157);
}

.series-kirby{
    background:rgb(234, 85, 186);
}

.series-starfox{
    background:rgb(42, 137, 191);
}

.series-zelda{
    background:rgb(202, 222, 22);
}

.series-earthbound{
    background:rgb(137, 181, 234);
}

.series-gamewatch{
    background:black;
}

.series-rob{
    background:rgb(81, 81, 81);
}

.series-animalcrossing{
    background:rgb(156, 107, 20);
}

.series-metroid{
    background:rgb(9, 0, 87);
}

.series-sonic{
    background:rgb(0,0,255);
}

.series-fzero{
    background:rgb(5, 38, 117);
}

.series-finalfantasy{
    background:rgb(5, 35, 0);
}

.series-bayonetta{
    background:rgb(30, 1, 28);
}

.series-kidicarus{
    background:rgb(234, 211, 30);
}

.series-duckhunt{
    background:rgb(194, 123, 12);
}

.series-splatoon{
    background:rgb(255, 150, 5);
}

.series-iceclimbers{
    background:rgb(76, 239, 234);
}

.series-megaman{
    background:rgb(44, 37, 208);
}

.series-streetfighter{
    background:rgb(196, 19, 19);
}

.series-mii{
    background:rgb(255,255,255);
}

.series-pikmin{
    background:rgb(149, 219, 102);
}

.series-xenoblade{
    background: rgb(204, 69, 69);
}

.series-metalgearsolid{
    background:rgb(72, 72, 72);
}

.series-wiifit{
    background:rgb(238, 238, 238);
}

.series-yoshi{
    background:rgb(15, 156, 4);
}

.series-pacman{
    background:rgb(235, 195, 0);
}

.series-donkeykong{
    background: rgb(79, 43, 7);
}

.series-wario{
    background:rgb(255, 216, 0);
}

.series-punchout{
    background: rgb(0,255,0);
}