.script-data {
    padding-bottom: 10px;
}

/*.script-animation-data {
    padding-bottom: 10px;
}*/

.script-hitboxes-data{

}

.view-selection{
    position: absolute;
    left:50%;
}

.view-selection span{
    position: relative;
    left:-50%;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.view-selection span a{
    cursor: pointer;
}

.script-select{
    text-align: center;
}

.script-select select{
    font-size: 2rem;
}

#character-main {
    padding: 0px 15px;
}

#character-name{
    text-align: center;
}

.diff-version-label{
    text-align: center;
}

#character-image {
    width: 250px;
    height: auto;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

#related{
    float:left;
}

#options{
    clear: left;
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

#character-data{
    clear:both;
    position: relative;
    top: -50px;
    padding-bottom: 20px;
}

thead{
    border-bottom: 1px solid black;
}

td{
    border:none;
}

.hitbox-table tr:not(:first-child) td{
    padding-top: 10px;
}

.hitbox-table{
    width:100%;
}

.dot-underline{
    border-bottom: 1px dotted black;
}

.script {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.6rem;
    width: 100%;
    padding: 0.5em;
    background: rgb(240, 240, 240);
    color: rgb(68, 68, 68);
    border: 1px solid #ccc;
    border-radius: 4px;
    /*background: rgb(226, 226, 226);*/
}

.script span{
    display:inline-block;
    padding-bottom: 4px;
}

.script-tab {
    padding-left: 1em;
}

.script-hidden{
    display:none;
}

.hurtbox-state-table tr:not(:first-child) td{
    padding-top: 10px;
}

.param-list td{
    vertical-align: middle;
}

.script-cmd{
    font-weight: bold;
}

.script-param-value{
    color: rgb(136, 0, 0);
}

.script .param-style-1 span.script-param-content {
  background: peachpuff;
  background-clip: content-box;
}

.script .param-style-2 span.script-param-content {
  background: paleturquoise;
  background-clip: content-box;
}

.script .param-style-3 span.script-param-content {
  background: palegreen;
  background-clip: content-box;
}

.script .param-style-hide {
  display: none;
}

.script-param-content {
  cursor: pointer;
  display: inline-block;
}

label.script-param {
  position: relative;
  font-weight: normal; /* overwrite font-weight for label given in bootstrap.css */
}

.script-param input[type="checkbox"] {
  display: none;
}
.script-param .description {
  display: none;
  position: absolute;
  background-color: lightyellow;
  font-family: sans-serif;
}

.script-param .description .description-script {
  font-family: 'Ubuntu Mono', monospace;
  background: rgb(240, 240, 240);
  color: rgb(68, 68, 68);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-bottom: 0;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.script-param .description .description-script.current-value {
  color: red;
}

input[type="checkbox"]:checked + .description {
  display: inline-block;
  z-index: 1;
  top: 20px;
  left: 0px;
  width: 500px;
  padding: 2px;
  border: 1px solid sandybrown;
  border-radius: 5px;
}

.script-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  align-items: baseline;
}

.script-container .script-div {
  flex-grow: 1;
}

.script-container button.close-button {
  margin-right: 10px;
}

.script-container button.config-button {
  margin-left: 10px;
}

.script-container .param-style-config {
  display: inline-block;
  flex-grow: 0;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.5em;
  background: rgb(240, 240, 240);
  color: rgb(68, 68, 68);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.script-container .param-style-config .config-saved {
  display: inline-block;
  min-width: 80px;
  color: red;
  padding-left: 10px;
  padding-right: 10px;
}

.script-container .param-style-config table {
  margin-top: 10px;
}

.script-container .param-style-config table button {
  padding-bottom: 2px;
  padding-top: 2px;
}

.script-container .param-style-config td {
  padding-top: 0px;
  padding-bottom: 0px;
}

.script-container .param-style-config .param-name {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.6rem;
}

@media screen and (max-width: 600px) {
  .script-container {
    flex-direction: column-reverse;
  }
  .script-container .param-style-config {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

.msc-script{
    margin-top: 10px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.6rem;
    width: 100%;
    padding: 0.5em;
    background: rgb(240, 240, 240);
    color: rgb(68, 68, 68);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.msc-script-function{
    font-weight: bold;
}

.msc-reserved{
    font-weight: bold;
    color: rgb(136, 0, 0);
}

.msc-string, .msc-number {
    color: rgb(136, 0, 0);
}

/*.msc-container{
    width: 100%;
    height: 60rem;
    overflow-y: scroll;
}*/

#scriptbox{
    font-size: 1.6rem;
    margin-top: 5px;
    width: 100%;
    height: 60rem;
    font-family: 'Ubuntu Mono', monospace;
    background: transparent;
    border:unset;
}

.msc-options{
    display: inline-block;
    position: relative;
    left: 10px;
}

input[name=scriptFormat]{
    position: relative;
    top: 4px;
}

input[name=scriptFormat] + span{
    position: relative;
    left: 4px;
}

.msc-version, .salt-version, .parser-version{
    float: right;
}

@media screen and (max-width: 950px){
    #character-data{
        top: -20px;
    }
}

@media screen and (max-width: 720px) {
    .script, .msc-script, #scriptbox {
        font-size: 1.3rem;
    }

    .script span{
        padding-bottom: 6px;
    }

    .script-select select{
        width:100%;
    }

    .view-selection{
        position: relative;
        left:unset;
        text-align: center;
    }

    .view-selection span{
        left:unset;
        padding-left:10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    #character-image {
        float: unset;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .msc-options{
        display: block;
        margin-top: 10px;
    }

    input[name=scriptFormat]{
        position: relative;
        top: unset;
    }

    input[name=scriptFormat] + span{
        position: relative;
        top: -4px;
    }

    #character-data{
        top: 10px;
    }
}

@media screen and (max-width: 550px) {
    #character-image {
        width: 70%;
    }
}
